// Colors
$product-name-color: black;
$product-price-color: #df2e2e;

// Widths
$sm: 768px; //Mobile
$md: 992px; //Tablet

// Media Queries
// Category Image Responsiveness
@media (max-width: $md) {
    .product { flex-basis: calc(33% - 20px) !important; }
}
@media (max-width: $sm) {
    .product { flex-basis: calc(50% - 20px) !important; }
}

.product {
  font-weight: bold;
  flex-basis: calc(25% - 20px);
  margin: 10px;
  &:hover { background: black; color: white; }
  &:active { background: rgba(23, 23, 23, 0.933); color: white; }
}

.product-name {
  color: black;
  text-align: left;
}

.product-price {
  margin-top: -16px;
  color: $product-price-color;
}
