// Colors
$amount-type-text-color: #9ba3ae;
$amount-detail-text-color: black;
$red-color: #df2e2e;
$hover-color: #d32b2b;
$clicked-color: #bf1717;

.amount-type {
  color: $amount-type-text-color;
  margin-top: 16px;
}

.amount-detail {
  color: $amount-detail-text-color;
  font-weight: bold;
  margin-top: 16px;
}

.checkout-btn {
  background-color: $red-color;
  color: white;
  width: 300px;
  margin-top: 16px;
  padding: 10px 45px;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  &:hover {
    background: $hover-color;
  }
  &:active {
    background: $clicked-color;
  }
}
