// Widths
$sm: 768px; //Mobile
$md: 992px; //Tablet

// Colors
$search-bar-color: #9ba3ad;
$search-bar-bg: #fcfcfc;

// Media Queries
// Search Bar Width
@media (max-width: $md) {
  .search { width: 80% !important; }
}
@media (max-width: $sm) {
  .search { width: 100% !important;}
}

.shop-title-text { margin-top: 16px; }
.categories { margin-top: 32px; }

.search {
  background-color: $search-bar-bg;
  color: $search-bar-color;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
  width: 60%;
  margin-top: 16px;
  padding: 15px 45px;
  border-radius: 6px;
  font-weight: bold;
  &:hover { background: black; color: white;}
  &:active { background: rgba(23, 23, 23, 0.933); color: white; }
}