.cart-item-layout {}

.item-name {
  font-weight: bold;
  font-size: 1.3em;
}

.item-price {
  color: #df2e2e;
  font-weight: bold;
  font-size: 1.5em;
}

.plus-item {
  padding: 6px 8px;
  border-radius: 4px;
  color: white;
  background-color: black;
  &:hover { cursor: pointer; background-color: rgb(48, 48, 48); }
  &:active { background-color: rgb(9, 7, 7); }
  
}

.minus-item {
  margin-left: 25px;
  padding: 6px 8px;
  border-radius: 4px;
  background: white;
  &:hover { cursor: pointer; background-color: rgb(235, 235, 235) }
  &:active { background-color: rgb(242, 242, 242) }
}

.item-quantity {
  font-size: 1.5em;
  font-weight: bold;
  margin: -4px 12px 0;
}
