$signature-text-color: #9ba3ad;
$bg-color: #f2f4f7;
$main-border-color: #ffffff;

$thin-gray-text: #9ba3ae;

$sm: 768px; //Small - Mobile Friendly Territory
$md: 992px; //Tablet Mode starts from Desktop Mode

// Centering Text On Phone Sizes
@media (max-width: $sm) {
  .hero-text {
    text-align: center;
  }
  //Center when screen = phone size small
  .left-container {
    align-items: center !important;
  }
}

//Left when screen > phone size
.left-container {
  align-items: left;
}

body {
  background-color: $bg-color;
  border: 16px solid $main-border-color;
  border-radius: 16px;
}

// Use for all pages default container - landing page, etc
.custom-container {
  //56px for navbar, 16px+16px for top and bottom border
  height: calc(100vh - 56px - 16px - 16px);
}

//Spacing Out Nav Items and Managing Text Colors
.nav-bar-item {
  color: #6a6a6a;
  margin-left: 32px;

  &:hover {
    color: black;
    text-decoration: none;
  }

  &:active {
    color: #6a6a6a;
  }
}

// Landing Page
.hero-text {
  font-size: 2.2em;
  font-weight: bold;
}

// Underlines a text
.underline {
  text-decoration: underline;
}

//Used for Shop Button on landing page, etc
.custom-border {
  max-width: 200px;
  margin-top: 36px;
  padding: 15px 45px;
  background: none;
  border: 2px solid black;
  border-radius: 1.5px;
  font-weight: bold;

  &:hover {
    background: black;
    color: white;
  }

  &:active {
    background: rgba(23, 23, 23, 0.933);
    color: white;
  }
}

//Used for signature text (2020 • NEW DELHI - NCR</div>) on all pages - landing page, etc
.signature-text {
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $signature-text-color;
}

// Contact Page
.contact-detail-type {
  color: $thin-gray-text;
}

.contact-detail-data {
  color: black;
  font-weight: bold;
}
