// Bootstrap
@import '../node_modules/bootstrap/scss/bootstrap.scss';
// Fonts
@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@700&family=Raleway:wght@700&display=swap');

// FontAwesome
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

// Variables
$bg-color: #f2f4f7;
$main-border-color: #ffffff;

// Global Styles
.no-underline-hover {
  &:hover {
    text-decoration: none;
  }
}

.capitalize {
  text-transform: capitalize;
}

//Standard Style
//White border for every page
body {
  background-color: $bg-color;
  border: 16px solid $main-border-color;
  border-radius: 16px;
}

// Use for all pages default container - landing page, etc
.custom-container {
  //56px for navbar, 16px+16px for top and bottom border
  height: calc(100vh - 56px - 16px - 16px);
}

//Defaults
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
